* {
    padding: 0;
    margin: 0;
    outline: 0;
    font-family: "Poppins", sans-serif;
}

/*  */
a,
button {
    transition: linear 0.2s;
    text-decoration: none;
}

::placeholder {
    color: #ffffff;
    opacity: 0.8;
}

:-ms-input-placeholder {
    color: #ffffff;
}

::-ms-input-placeholder {
    color: #ffffff;
}

html,
body {
    overflow: hidden;
    position: relative;
}

html {
    background-image: url(../images/hero-banner.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: scroll;
    height: 100vh;
}

body {
    height: 100%;
}

header {
    background: #00000008;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    padding: 30px 0;
    border-bottom: 1px solid #ffffff21;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}

.container {
    max-width: 890px;
    padding: 0 15px;
    margin: auto;
}

.brand {
    text-align: center;
    line-height: 0;
}

.brand a img {
    max-width: 163px;
}

.hero-sec {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.hero-content h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
    color: #ffffff;
    margin-bottom: 15px;
}

.hero-content h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    color: #ffffff;
    width: fit-content;
    margin: auto;
    margin-bottom: 13px;
}

.hero-content h3 span {
    background: #9b51e080;
    padding: 0 30px;
}

.hero-content h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    color: #ffffff;
    margin-bottom: 120px;
}

.hero-content .form p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
}

.hero-content .form form {
    max-width: 658px;
    background: #ffffff24;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 50px;
    margin: auto;
    position: relative;
    padding: 5px;
    margin-bottom: 23px;
}

.hero-content .form form input {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    border: none;
    background-color: transparent;
    width: 100%;
    padding: 25px 30px;
}

.hero-content .form form button {
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #ffffff;
    background-color: #9b51e0;
    border-radius: 50px;
    padding: 18px 30px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
}

.hero-content .form form button:hover {
    background-color: #6660e8;
}

footer {
    background: linear-gradient(180deg, #00000000 0%, #000000 250.87%);
    padding-top: 110px;
    padding-bottom: 36px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-nav ul {
    list-style: none;
}

.footer-nav ul li {
    margin-right: 42px;
    display: inline-block;
}

.footer-nav ul li:last-child {
    margin: 0;
}

.footer-nav ul li a {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
}

.footer-nav ul li a:hover {
    color: #9b51e0;
}

.social-nav ul {
    list-style: none;
}

.social-nav ul li {
    text-align: right;
    display: inline-block;
    margin-left: 40px;
}

.social-nav ul li:first-child {
    margin: 0;
}

.social-nav ul li a {
    display: block;
    width: 27.12px;
    height: 27.12px;
}

.social-nav ul li a svg {
    width: 27.12px;
    height: 27.12px;
    fill: #ffffff;
    transition: linear 0.2s;
}

.social-nav ul li a svg:hover {
    fill: #9b51e0;
}

.social-nav ul li a.icon-twitter svg {
    fill: none;
    stroke: #ffffff;
    stroke-width: 8%;
}

.social-nav ul li a.icon-twitter svg:hover {
    stroke: #9b51e0;
}

.parent {
    position: absolute;
    width: 700px;
    height: 602px;
    left: 0px;
    top: -44px;

    background: url(/images/thank-you-floral.png);
}

.sub {
    position: absolute;
    height: 53px;
    left: 36.35%;
    right: 36.07%;
    top: calc(50% - 53px / 2 - 11.5px);
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 52px;
    /* identical to box height */
    text-align: center;
    color: #5e5873;
}

#number:focus, #number:active {
    background: transparent;
}

.sweet-alert button{
    padding:13px 0px 13px 26px!important;
    background-image: url("../images/instagram.png");
}

.inline {
    color:#fff;
}

.text {
    position: absolute;
    height: 85px;
    left: 9.9%;
    right: 11.74%;
    top: calc(50% - 85px / 2 + 76.5px);
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 17px;
    /* or 94% */
    text-align: center;
    /* 1) Theme Color / Body - Text */
    color: #6e6b7b;
}

.instagram {
    position: absolute;
    width: 61px;
    height: 45px;
    left: 323px;
    top: 464px;

    background: #9b51e0;
    border-radius: 5px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
